nav{
    background-color: #4287BD;
    min-height: 5rem;
    position: fixed;
    z-index: 1;
    right: 0;
    width: 100%;
    top: 0;

}

.navCont{
    position: relative;
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    max-height: 5rem;

}




.imgCont{
    position: relative;
}

.imgContent{
    position: absolute;
    z-index: 1;
}

.btnPortal{
    background-color: #B32A31;
    color: #fff;
    height: 2.5rem;
    width: 7rem;
    font-size: 18px;
    border-radius: 5px;
    position: relative;
    top: -18px;
    outline: 0;
    border: 0;
    transition: 1.5s scale linear;
}

.btnPortal:focus{
    outline: 0;
    border: 0;
}

.btnPortal:hover{
    transform: scale(1.02);
    background-color: #cf3d44;
}

.fIcon{
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    /* transform: translateY(-px); */
    transform: translate(-6px, -1px);
}

@media screen and (max-width: 960px) {
}