.nav-list{
    display: flex;
    width: 70rem;
    justify-content: space-between;
    list-style: none;
    color: #fff;
    font-family: monserat;
    transform: translateY(95%);
    margin: 0 !important;
}

.nav-list li{
    line-height: 25px;
    text-align: center;
    margin: 0;
    font-size: 18px;
}

/* .nav-list li a{
    color: #fff;
} */


.nav-item {
    height: auto;
    justify-content: center;
    display: flex;
}

.menu-icon{
    display: none;
}




.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    transition: all 0.2s ease-out;

}

.nav-links:hover {
    border-bottom: 4px solid #ffff00;
    color: #fff;
    text-decoration: none;
}



@media screen and (max-width: 960px) {
    .nav-list{
        display: none;
    }


    .menu-icon{
        display: block;
    }
/* 
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
     
        font-size: 1.8rem;
        cursor: pointer;
        margin-top: -1.2rem;
    } */


    .nav-list{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 41rem;
        width: 100%;
        top: 48px;
        background-color: #4287BD;
        /* left: 5%; */
        transform: translateY(4%);
        /* z-index: 999; */
        opacity: 1;
        right: -100%;
        transition: all .5s linear;

    }

    .nav-list.active{
        transition: all 0.3s ease-out;
        visibility: visible;
        transition: all .5s linear;
        right: 0;
        /* z-index: 1; */
    }

    .nav-list.active li {
        font-size: 25px;
        position: relative;
        margin: 30px 0;
    }


    .fa-times{
        position: relative;
        float: right;
        width: 100%;
    }

    .fa-times, .fa-bars{
        font-size: 40px;
        color: #feed00;
        transition: all 1.5ms linear;
        transform: translate(-29px, 17px);
    
    }

}